body {
    font-family: 'Alata', sans-serif;
    text-size-adjust: auto;
    background: #F7F7F7;
}

h1{
    padding-top:16vh;
    color: black;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}

h6{
    font-family: 'Merriweather Sans', sans-serif;
}



.top {
    height: 50vh;
    width: 100%;
    margin-bottom: 4vh;
    background-image: url("https://scontent.fvga3-1.fna.fbcdn.net/v/t1.0-9/87313315_3117774028233821_8504860743089258496_o.jpg?_nc_cat=103&_nc_sid=cdbe9c&_nc_ohc=LnKzPcO8cwwAX9mrLlX&_nc_ht=scontent.fvga3-1.fna&oh=301ab7824fff688400d6355676d4708e&oe=5F825AD2");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    overflow-x: hidden;
    padding: auto auto;
    text-align: center;
}



#cards_landscape_wrap-2 {
    text-align: center;
    background: #F7F7F7;
}

#cards_landscape_wrap-2 .container {
    padding-top: 80px;
    padding-bottom: 100px;
}

#cards_landscape_wrap-2 a {
    text-decoration: none;
    outline: none;
}

#cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
    width:100%;
}

#cards_landscape_wrap-2 .card-flyer .image-box {
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
}

#cards_landscape_wrap-2 .card-flyer .image-box img {
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 100%;
    height:30vh;
}

#cards_landscape_wrap-2 .card-flyer .talks img{
    -webkit-transition: all .9s ease;
    -moz-transition: all .9s ease;
    -o-transition: all .9s ease;
    -ms-transition: all .9s ease;
    width: 50%;
    height: 50vh;

}



#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
    opacity: 0.7;
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    transform: scale(1.15);
}

#cards_landscape_wrap-2 .card-flyer .text-box {
    text-align: center;
}

#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
    padding: 30px 18px;
}

#cards_landscape_wrap-2 .card-flyer {
    width:100%;
    background-image: url("https://www.wallpapertip.com/wmimgs/66-669874_wallpaper-linear-gradient-blue-white-mint-cream-pale.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
}

#cards_landscape_wrap-2 .card-flyer:hover {
    background-color: #ffdcf5; 
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
}

#cards_landscape_wrap-2 .card-flyer .text-box p {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 14px;
    letter-spacing: 1px;
    color: black;
}

#cards_landscape_wrap-2 .card-flyer .text-box h4 {
    margin-top: 0px;
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color: black;
}

ul.demo {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding-bottom: 10%;
}

.bg {
    padding-top: 10%;
    background: linear-gradient(150deg, #97c74e 0%, #2ab9a5 100%);
}

.colourWhite {
    color: white;
    text-align: center;
}

.ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    border-bottom: 100px solid grey;
    border-width: 0.1vh;
    padding-bottom: 0%;
    padding-top: 1%;
    z-index: 1;

}

.nav-links {
    flex: 2;
}

.nav-links>ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link {
    position: relative;
}

.nav-link>a {
    line-height: 3rem;
    color: grey;
    padding: 0 .8rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link:hover>a {
    transform: scale(1.1);
    text-decoration: none;
    color: #45a049;
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 300px) {
    .navbar-nav {
        flex: initial;
        width: 100%;
    }

    .nav-link {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }
}
